{{#if admin}}
<p>
    <a class="link-add" href="/add-aktuelle">add workshop</a>
</p>
{{/if}}
{{#each aktuelles}}
<div>
    <h3 class="workshop-titles">
        {{title}}
    </h3>
    <div>
        {{synopsis}}
        <p style="font-size: 0.9rem;">
            <a style="color:#00a8f0" href="/aktuelles/mehr-informationen/{{_id}}">MEHR INFORMATIONEN
                <i style="color:#00a8f0 ; margin: 0.7rem; font-size: 1.7rem;" class="fa-solid fa-circle-info"></i>
            </a>
        </p>
    </div>
    <hr>
    {{#if ../admin}}
    <div class="href">
        <p>
            <a class="link-delete" href="/delete/aktuelle/{{_id}}">delete</a>
        </p>
        <p>
            <a class="link-edit" href="/edit/aktuelle/{{_id}}">edit</a>
        </p>
    </div>
    {{/if}}
</div>
{{else}}
<h1>Kein Artikeles noch</h1>
{{/each}}