{{#if admin}}
<p>
    <a class="link-blue" href="/add-content">add content</a>
</p>
{{/if}}
{{#each warum}}
<div>
    <h4>{{title}}</h4>
    <hr>
    <p>
        {{description}}
    </p>
    {{#if ../admin}}
    <div class="href">
        <p>
            <a class="link-delete" href="/delete/{{_id}}">delete</a>
        </p>
        <p>
            <a class="link-edit" href="/edit/warum/{{_id}}">edit</a>
        </p>
    </div>
    {{/if}}
</div>
{{else}}
<h1>Kein Artikeles noch</h1>
{{/each}}